aimlbotkernel==1.0.4
args==0.1.0
attrs==17.4.0
audioread==2.1.5
beautifulsoup4==4.6.0
cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
click==6.7
clint==0.5.1
colorama==0.3.9
configparser==3.5.0
cycler==0.10.0
Cython==0.27.3
decorator==4.1.2
dill==0.2.7.1
entrypoints==0.2.3
enum34==1.1.6
ExifRead==2.1.2
Flask==0.12.2
Flask-Cors==3.0.3
floyd-cli==0.10.31
funcy==1.10.1
future==0.16.0
grpcio==1.8.1
h5py==2.7.1
html5lib==0.9999999
httplib2==0.10.3
idna==2.6
image==1.5.17
ImageHash==4.0
imutils==0.4.6
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.4
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.10
jmespath==0.9.3
joblib==0.11
jsonschema==2.6.0
Markdown==2.6.9
MarkupSafe==1.0
pandas==0.21.0
pandocfilters==1.4.2
parso==0.1.0
pathlib2==2.3.0
pbr==3.1.1
phash==0.2.0
pickleshare==0.7.4
piexif==1.0.13
Pillow==4.3.0
pluggy==0.6.0
ply==3.8
prompt-toolkit==1.0.15
python-aiml==0.9.1
python-dateutil==2.7.0
python-xlib==0.21
pytz==2017.3
PyWavelets==0.5.2
pyxhook==1.0.0
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
ratelim==0.1.6
raven==6.5.0
requests==2.18.4
requests-toolbelt==0.8.0
resampy==0.2.0
rsa==4.1
s3transfer==0.1.13
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.12.2
xlrd==1.1.0
gunicorn
